# Distribution / packaging
venv/

# virtual environments
.venv/

# YOLO annotation outputs, runs/ folder, and yolo12s.pt
runs/
annotations/valid/labels.cache
annotations/train/labels.cache
yolo12s.pt

# ignore 'car_images'; it's too big for git
car_images/

# ignore example videos which are used for testing inference
example_videos/

# ignore the mlruns folder; going to be exporting these metrics to the server
mlruns/

# ignore environment file; don't want to commit sensitive information
.env

# ignore postgres-data
postgres-data/